@use "../abstracts/" as a;

p,
h1,
h2,
h3,
div,
span {
  color: a.$color-grey-light;
}
h1,
h2,
h3,
span {
  font-family: "Inconsolata";
  font-weight: 500;
  letter-spacing: 0.2rem;
}
p,
div,
button {
  font-family: "Karla";
  color: a.$color-grey-light;
}
.section {
  &__heading {
    &--primary {
      width: 100%;
      text-align: center;
      font-size: clamp(2.5rem, 6vw, 4rem);
      padding: 2rem;
      margin-bottom: 1rem;
      @include a.respond(mobile) {
        //remove some vertical space on mobile
        padding: 1rem;
        margin-bottom: 0.5rem;
      }
      text-transform: uppercase;
      font-weight: 800;
      border-radius: 15px;
    }
  }
}
.introduction {
  &__heading {
    &--primary {
      font-size: clamp(2rem, 6vw, 4rem);
    }
  }
  span {
    color: #5b78b0;
  }
}
.about {
  &__text {
    font-size: clamp(1.5rem, 2.8vw, 2.5rem);
    text-align: center;
    padding: 2rem 2rem;
  }
}
.navlink {
  color: a.$color-grey-light;
  font-size: clamp(1.3rem, 2.25vw, 2.25rem);
  text-transform: uppercase;
  font-weight: 200;
  cursor: pointer;
  font-family: "Inconsolata";
  transition: all 0.1s ease-in-out;
  &:not(:last-child) {
    margin-right: 10%;
    @include a.respond(mobile) {
      //reduce space between navlinks to fit on mobile
      margin-right: 8%;
    }
  }
  &.active {
    color: a.$color-blue-light;
    font-weight: 300;

    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
  }
}
input,
textarea {
  font-family: "Karla";
  font-weight: 800;
  color: a.$color-grey-light;
  text-align: center;
  text-transform: uppercase;
  &::placeholder {
    color: a.$color-grey-light-75;
  }
}
button {
  font-size: clamp(1.8rem, 3vw, 2.5rem);
  color: a.$color-grey-light-75;
  font-family: "Inconsolata";
  font-weight: 100;
}
.skill-grid {
  &__heading--primary {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 200;
    padding: 1rem 0;
  }
  &__name {
    font-size: 1.25rem;
    @include a.respond(mobile) {
      //fit text on mobile
      font-size: 0.85rem;
      margin-top: 0.25rem;
    }
    @include a.respond(def) {
      font-size: 0.9rem;
      margin-top: 0.25rem;
    }
  }
}
.form__error-message {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: transparent;
  color: a.$color-error;
  text-transform: uppercase;
  font-family: "Inconsolata";
}
.submit__button {
  color: a.$color-grey-light-75;
  font-size: 2rem;
  font-family: "Inconsolata";
  letter-spacing: 2px;
}
.project {
  &__heading--primary {
    display: inline;
    padding: 0.25rem;
    color: a.$color-blue-medium;
    font-weight: 800;
    text-transform: uppercase;
    font-size: clamp(1.5rem, 3.5vw, 3rem);
  }
  &__text {
    font-family: "Karla";
    font-size: clamp(1rem, 2vw, 2.5rem);
    font-weight: 800;
    color: a.$color-grey-light-75;
    letter-spacing: 1px;
  }
}
