//colors
$color-black: #000000;
$color-black-10: rgba(0, 0, 0, 0.1);
$color-black-50: rgba(0, 0, 0, 0.5);
$color-black-75: rgba(0, 0, 0, 0.75);
$color-white: #ffffff;
$color-white-75: rgba(255, 255, 255, 0.75);
$color-white-50: rgba(255, 255, 255, 0.5);
$color-white-25: rgba(255, 255, 255, 0.25);
$color-white-10: rgba(255, 255, 255, 0.1);

//background color and variants
$color-grey-light: #e0e0e0;
$color-grey-light-25: rgba(224, 224, 224, 0.25);
$color-grey-light-50: rgba(224, 224, 224, 0.5);
$color-grey-light-75: rgba(224, 224, 224, 0.75);

$color-grey-light-50: rgba(206, 218, 234, 0.5);
$color-grey-light-75: rgba(206, 218, 234, 0.75);

$color-blue-dark: #29344f;
$color-blue-medium: #5b78b0;
$color-blue-light: #86a4c8;
$color-blue-dark-50: rgba(41, 52, 79, 0.5);
$color-blue-medium-50: rgb(91, 120, 176, 0.5);
$color-blue-light-50: rgb(134, 164, 200, 0.5);
$color-blue-dark-75: rgba(41, 52, 79, 0.75);
$color-blue-medium-75: rgb(91, 120, 176, 0.75);
$color-blue-light-75: rgb(134, 164, 200, 0.75);

$color-error: #ae6170;
//height
$height-header: 6rem;
$height-footer: 12rem;
