//colors
$color-black: #000000;
$color-black-50: rgba(0, 0, 0, 0.5);
$color-black-75: rgba(0, 0, 0, 0.75);

$color-white: #ffffff;

$color-error: rgba(204, 61, 36, 0.959);
//layout
$height-header: 9rem;
$height-footer: 7rem;
$margin-top-page: 5rem;
