@use "../abstracts/" as a;

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  @include a.respond(mobile) {
    //remove padding on mobile to fit text
    padding-left: 1rem;
    padding-right: 1rem;
  }
  //start section after header
  padding-top: a.$height-header;

  &__img {
    box-shadow: 1px 1px 4px #1c2336, -2px -2px 3px #364568;
    border-radius: 15px;
    height: 15rem;
    width: 15rem;
    @include a.respond(mobile) {
      //smaller icon on mobile
      height: 10rem;
      width: 10rem;
    }
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
