@use "../abstracts/" as a;

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  //start section after header
  padding-top: a.$height-header;

  &__img {
    box-shadow: 1px 1px 4px #1c2336, -2px -2px 3px #364568;
    border-radius: 15px;
    height: 15rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
