@use "../abstracts/" as a;

.footer {
  position: relative;
  height: a.$height-footer;
  width: 100%;

  background-color: a.$color-black-10;
  z-index: 0;
  .icons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    padding: 1rem;
    @include a.respond(mobile) {
      //center icons in footer on mobile, gives space for copyright
      align-items: center;
    }
  }
  .icon__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    &:first-child {
      margin-right: 2rem;
    }
    span {
      text-transform: uppercase;
      margin-top: 0.5rem;
    }
  }
  &__text {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    text-transform: uppercase;
    opacity: 0.75;
    color: a.$color-white;
  }
}
