@use "../abstracts/" as a;
.header {
  height: a.$height-header;
  width: 100vw;
  background-color: a.$color-grey-light;
  box-shadow: none;
  z-index: 1;
  //start below first section
  position: absolute;
  top: 100vh;
  transition: box-shadow 0.75s ease-in-out;
  box-shadow: none;
  &.fixed {
    opacity: 1;
    position: fixed;
    top: 0;
    box-shadow: 1px 1px 3px #cfcfcfa4;
    background-color: a.$color-grey-light;
  }
}

.navlinks {
  padding: 0 1rem;
  width: 100%;
  height: a.$height-header;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.25rem;
}
