@use "../abstracts/" as a;
.header {
  height: a.$height-header;
  width: 100vw;
  background-color: a.$color-blue-dark;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  //start below first section
  position: absolute;
  top: 100vh;
  &.fixed {
    position: fixed;
    top: 0;
  }
}

.navlinks {
  padding: 0 1rem;
  width: 100%;
  height: a.$height-header;
  display: flex;
  justify-content: center;
  align-items: center;
}
