@use "../abstracts/" as a;
.header {
  height: a.$height-header;
  width: 100vw;
  background-color: a.$color-blue-dark;
  box-shadow: none;
  z-index: 1;
  //start below first section
  position: absolute;
  top: 100vh;
  transition: background-color 1s ease-in-out;
  &.fixed {
    position: fixed;
    top: 0;
    background-color: #252f47;
  }
}

.navlinks {
  padding: 0 1rem;
  width: 100%;
  height: a.$height-header;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.25rem;
}
