@use "../abstracts/" as a;

.introduction {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 5rem;
  &__heading {
    z-index: 1;
  }
  &__button {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15rem;
    height: 5rem;
  }
}
