@use "../abstracts/" as a;
.project {
  position: relative;
  height: 60vh;
  width: 80vw;
  @include a.respond(mobile) {
    //projects should span most of width on mobile
    max-height: 30rem;
    width: 95%;
  }
  @include a.respond(def) {
    //limit height and expand width on <800px
    max-height: 35rem;
    width: 90vw;
  }
  background-color: inherit;
  border: solid;
  margin: 2rem 0;
  transition: all 0.1s ease-in-out;
  &:nth-child(even) {
    border-radius: 0px 15px 15px 0;
    @include a.respond(mobile) {
      //make all borders same on mobile centered
      border-radius: 15px;
    }
  }
  &:nth-child(odd) {
    border-radius: 15px 0 0 15px;
    @include a.respond(mobile) {
      //make all borders same on mobile centered
      border-radius: 15px;
    }
  }
  &:hover {
    transform: scale(1.02);
  }
  .carousel {
    position: absolute;
    width: 100%;
    height: 70vw;
    border-radius: 15px;

    box-shadow: -2px 2px 2px #1c2336, 2px -2px 2px #364568;

    margin: 0 auto;
    &__navigation {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    &__image {
      opacity: 0;
      position: absolute;
      height: auto;
      width: 85%;
      border-radius: 15px;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      &.active {
        opacity: 1;
      }
    }
  }
  &__description {
    position: absolute;
    bottom: 0;
  }
}
