@use "../abstracts/" as a;
.project {
  position: relative;
  aspect-ratio: 4 / 4;
  height: auto;
  width: 80vw;
  max-width: 75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  @include a.respond(mobile) {
    //projects should span most of width on mobile
    padding: 0.5rem;
    width: 95%;
  }
  background-color: inherit;
  border-radius: 15px;
  box-shadow: -2px 2px 2px #1c2336, 2px -2px 2px #364568;
  margin: 2rem 0;
  transition: all 0.2s ease;
  &:nth-child(even) {
    border-radius: 0px 15px 15px 0;
    @include a.respond(mobile) {
      //make all borders same on mobile centered
      border-radius: 15px;
    }
  }
  &:nth-child(odd) {
    border-radius: 15px 0 0 15px;
    @include a.respond(mobile) {
      //make all borders same on mobile centered
      border-radius: 15px;
    }
  }
  &:hover {
    transform: scale(0.95);
  }
  .carousel {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 4/3;
    width: 90%;
    height: auto;
    &:hover {
      .carousel__button {
        opacity: 0.8;
      }
    }
    &__navigation {
      position: absolute;

      width: 95%;

      display: flex;
      justify-content: space-between;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &__image {
      display: none;
      opacity: 0;
      position: absolute;
      height: auto;
      width: 98%;
      border-radius: 5px;
      top: 50%;
      left: 50%;

      &.active {
        display: block;
        opacity: 0.8;
        transform: translate(-50%, -50%);
      }
    }
    &__button {
      opacity: 0;
      background-color: a.$color-blue-dark;
      width: 3rem;
      height: 3rem;
      border-radius: 100%;
      border: none;
      box-shadow: -1px 1px 1px #1c2336, 1px -1px 1px #364568;
      transition: opacity 0.2s linear 0.1s;
      @include a.respond(mobile) {
        opacity: 1;
      }
      &.left {
        transform: rotate(90deg);
      }
      &.right {
        transform: rotate(270deg);
      }
      img {
        height: 1.25rem;
        width: 1.25rem;
        opacity: 0.5;
      }
    }
  }
  &__text {
    height: 16%;
    max-height: 8rem;
    position: absolute;
    bottom: -2%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 87%;
  }
}
