@use "../abstracts/" as a;

.skill-grid {
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 8rem;
    width: 8rem;
    border-radius: 15px;
    box-shadow: 1px 1px 1px #1c2336, -1px -1px 1px #364568;
    margin: 1rem;
  }
}
