@use "../abstracts/" as a;

.skill-grid {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: repeat(5, 10rem);
  @include a.respond(def) {
    grid-template-columns: repeat(5, 9rem);
  }
  grid-gap: 0.5rem;
  @include a.respond(mobile) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 32rem;
  }
  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 9rem;
    width: 9rem;
    @include a.respond(mobile) {
      height: 7.25rem;
      width: 7.25rem;
    }
    @include a.respond(def) {
      height: 8rem;
      width: 8rem;
    }
    border-radius: 15px;
    box-shadow: 1px -1px 1px #1c2336, -1px 1px 1px #364568;
    margin: 0.5rem;
    padding: 1rem;
    z-index: 0;
  }
  &__content {
    height: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    opacity: 0.75;
  }
  &__name {
    text-transform: uppercase;
  }
}
