@use "../abstracts/" as a;

.menu {
  padding: 6rem 2rem 1rem 2rem;
  background-color: a.$color-black-75;
  height: auto;
  width: 40vw;
  position: absolute;
  top: a.$height-header;
  transform: translateX(-100vw);
  transition: transform 0.5s ease;

  display: flex;
  flex-direction: column;

  @include a.respond(mobile) {
    padding: 0rem 2rem 0rem 2rem;
    justify-content: center;
    height: calc(100vh - #{a.$height-header});
    width: 100vw;
  }
  @include a.respond(laptop) {
    width: 28vw;
  }
  &.open {
    transform: translateX(0);
    transition: transform 0.3s ease;
  }
  &__navlinks {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__link {
    color: a.$color-white;
    font-size: 3rem;
    font-family: Archivo;
    padding-bottom: 3rem;
    transition: all 0.2s ease-in;
    text-decoration: none;
    @include a.respond(mobile) {
      font-size: 3.75rem;
      padding-bottom: 2.5rem;
    }
    &:hover {
      font-size: 3.5rem;
      letter-spacing: 0.5rem;
      @include a.respond(mobile) {
        font-size: 4.25rem;
      }
    }
    &.active {
      font-size: 3.5rem;
      @include a.respond(mobile) {
        font-size: 4.5rem;
      }
    }
  }
}
